{% extends 'seller_header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jewel-shop</title>
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop.css' %}" rel="stylesheet">
	<link href="{% static 'css/contact.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/detail.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop_detail.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <style type="text/css">
        span {
            color: lightpink;
        }

    </style>

</head>


<body>
<br>
    
        <div class="row" style="margin-left: 10px;">
            {% for gc in goldjew %}
            <div id="box" class="col-sm-3">
                <div class="container">
                    <div class="card">
                        <a href="{% url 'gold_product_detail' pk=gc.pk %}"><img class="card-img-top" src="{{gc.gold_image.url}}" alt="Card image" width="200px" height="200px"></a>
                        <div class="card-body">
                            <h4 class="card-title">{{gc.gold_name}}</h4><br>
                            <p class="card-text">Price: {{gc.gold_price}}</p><br>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br><br><br>
    
    
    {% include 'footer.html' %}
</body>
</html>
{% endblock %}