{% extends data|yesno:"seller_header.html,header.html" %}
{% load static %}
{% block content %}
 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jewel-shop</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop.css' %}" rel="stylesheet">
	<link href="{% static 'css/contact.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/detail.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop_detail.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<style type="text/css">
	span {
            color: lightpink;
        }

	</style>



</head>

<body>


<section id="blog" class="clearfix">
 <div class="blog_top clearfix">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item">
			     	<div class="blog_top_main clearfix">
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/126.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>16 March 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/127.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>19 April 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/128.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>30 June 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										 </div>
			    	
                    <!-- Static Header -->
                 <!-- /header-text -->
			    </div>
			    <div class="item">
			    	<div class="blog_top_main clearfix">
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/129.jpg' %}" alt="img"></div>
                      <div class="info">
                        <h3>22 April 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/130.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>15 August 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/131.jpg' %}" alt="img"></div>
                      <div class="info">
                        <h3>15 March 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										 </div>
			    	<!-- Static Header -->
                    <!-- /header-text -->
			    </div>
			    <div class="item active">
			    	<div class="blog_top_main clearfix">
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/126.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>25 April 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/127.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>10 April 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										  <div class="col-sm-4 blog_top_main_left clearfix">
										   <div class="blog_top_main_left_inner clearfix">
										    <div class="ih-item square effect13 left_to_right"><a href="#">
                      <div class="img"><img src="{% static 'img/128.png' %}" alt="img"></div>
                      <div class="info">
                        <h3>16 July 2018</h3>
                        <p>Integer nec odionec odio. Praesent libero sed cursus ante</p>
						<h5>Jewellery Amet/Sociosqu</h5>
                      </div></a></div>
										   </div>
										  </div>
										 </div>
			    	<!-- Static Header -->
                    <!-- /header-text -->
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7B4x#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7B4x#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
 </div>
</section>

<section id="blog_2" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="blog_2_top clearfix">
    <div class="col-sm-9 blog_2_top_left clearfix">
	 <div class="blog_2_top_left_top clearfix">
     <div class="blog_2_top_left_inner clearfix">
	  <p><a href="#"><img src="{% static 'img/132.png' %}"></a></p>
	 </div>
	 <div class="blog_2_top_left_inner_2 clearfix">
	  <h4>September 18, 2018</h4>
	  <h2><a href="#">MAURIS MASSA VESTIBULUM LACINIA ARCU EGET</a></h2>
	  <hr class="hr_2">
	  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. Sed dignissim lacinia nunc dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa....</p>
	 </div>
	 </div>
	 <div class="blog_2_top_left_top clearfix">
	  <div class="blog_2_top_left_inner clearfix">
	  <p><a href="#"><img src="{% static 'img/133.png' %}"></a></p>
	 </div>
	 <div class="blog_2_top_left_inner_2 clearfix">
	  <h4>July 19, 2018</h4>
	  <h2><a href="#">Consectetur adipiscing elit. Integer nec odionec Praesent</a></h2>
	  <hr class="hr_2">
	  <p> Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero....</p>
	 </div>
	 </div>
	 <div class="blog_2_top_left_top clearfix">
	   <div class="blog_2_top_left_inner clearfix">
	  <p><a href="#"><img src="{% static 'img/134.png' %}"></a></p>
	 </div>
	 <div class="blog_2_top_left_inner_2 clearfix">
	  <h4>March 15, 2018</h4>
	  <h2><a href="#">Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem</a></h2>
	  <hr class="hr_2">
	  <p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.......</p>
	 </div>
	 </div>
	 <div class="blog_2_top_left_top clearfix">
	   <div class="blog_2_top_left_inner clearfix">
	  <p><a href="#"><img src="{% static 'img/96.jpg' %}"></a></p>
	 </div>
	 <div class="blog_2_top_left_inner_2 clearfix">
	  <h4>August 13, 2018</h4>
	  <h2><a href="#">Curabitursodales ligula in Sed dignissim lacinia nunc.</a></h2>
	  <hr class="hr_2">
	 <p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.......</p>
	 </div>
	 </div>
	 <div class="blog_2_top_left_bottom clearfix">
	  <ul> 
	   <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
	   <li class="active_4"><a href="#">1</a></li>
	   <li><a href="#">2</a></li>
	   <li><a href="#">3</a></li>
	   <li><a href="#">4</a></li>
	   <li><a href="#">5</a></li>
	   <li><a href="#">6</a></li>
	   <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
	   <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-3 blog_2_top_right clearfix">
	 <div class="blog_2_top_right_top clearfix">
	  <div class="blog_2_top_right_top_inner clearfix">
	   <h4>ABOUT</h4>
	   <h3><img src="{% static 'img/89.png' %}"></h3>
	   <p>Duis sagittis ipsum amet ad, consectetur adipiscing elit. Integer nec! Sed dignissim lacinia nunc.</p>
	   <ul>
	    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	   </ul>
	  </div>
	  <div class="blog_2_top_right_top_inner_2 clearfix">
	   <h4>CATEGORIES</h4>
	   <p><a href="#">INTEGERNEC (12)</a></p>
	   <p><a href="#">TELLUS SED AUGUE (2)</a></p>
	   <p><a href="#">LITORA TORQUENT (34)</a></p>
	   <p><a href="#">VESTIBULUM LACINIA ARCU (3)</a></p>
	   <p><a href="#">ADIPISCING ELIT (14)</a></p>
	   <p><a href="#">DAPIBUS DIAM (34)</a></p>
	   <p><a href="#">HOW TO (24)</a></p>
	   <p><a href="#">DUIS SAGITTIS IPSUM (4)</a></p>
	   <p><a href="#">TORQUENT PER (2)</a></p>
	   <p><a href="#">TORQUENT ARCU (243)</a></p>
	   <p><a href="#">SAGITTIS (131)</a></p>
	   <p><a href="#">DAPIBUS (11)</a></p>
	    <p><a href="#">LIBERO IPSUM (22)</a></p>
		 <p><a href="#">LIBERO LACINIA (34)</a></p>
		  <p><a href="#">SED & SEMPER (15)</a></p>
		   <p><a href="#">LOREM AUGUE (27)</a></p>
		    <p><a href="#">DIGISSIMARCU (65)</a></p>
	  </div>
	  <div class="blog_2_top_right_top_inner_3 clearfix">
	   <h4>POPULAR POSTS</h4>
	   <h3><a href="#"><img src="{% static 'img/90.png' %}"></a></h3>
	   <p><a href="#">MAURIS MASSA: LITORA TORQUENT PER CONUBIA NOSTRA, INCEPTOS</a></p>
	   <h3><a href="#"><img src="{% static 'img/91.png' %}"></a></h3>
	   <p><a href="#">CURSUS ANTE: 2018 ARCU</a></p>
	   <h3><a href="#"><img src="{% static 'img/92.png' %}"></a></h3>
	   <p><a href="#">INTEGER NEC: 2017 ARCU</a></p>
	  </div>
	  <div class="blog_2_top_right_top_inner_4 clearfix">
	   <div class="blog_2_top_right_top_inner_4_main clearfix">
	    <h4>LATEST POSTS</h4>
	   </div>
	   <div class="blog_2_top_right_top_inner_4_bottom clearfix">
	   <div class="col-sm-6 blog_2_top_right_top_inner_4_left clearfix">
	    <div class="blog_2_top_right_top_inner_4_left_inner clearfix">
		 <p><a href="#"><img src="{% static 'img/93.png' %}"></a></p>
		</div>
	   </div>
	   <div class="col-sm-6 blog_2_top_right_top_inner_4_right clearfix">
	    <div class="blog_2_top_right_top_inner_4_right_inner clearfix">
		 <p><a href="#">FUSCE NEC TELLUS SED AUGUE SEMPER PORTA.</a></p>
		</div>
	   </div>
	   </div>
	   <div class="blog_2_top_right_top_inner_4_bottom clearfix">
	   <div class="col-sm-6 blog_2_top_right_top_inner_4_left clearfix">
	    <div class="blog_2_top_right_top_inner_4_left_inner clearfix">
		 <p><a href="#"><img src="{% static 'img/94.png' %}"></a></p>
		</div>
	   </div>
	   <div class="col-sm-6 blog_2_top_right_top_inner_4_right clearfix">
	    <div class="blog_2_top_right_top_inner_4_right_inner clearfix">
		 <p><a href="#">VESTIBULU LACINIA ARCU EGET NULLA LITORA</a></p>
		</div>
	   </div>
	   </div>
	   <div class="blog_2_top_right_top_inner_4_bottom clearfix">
	   <div class="col-sm-6 blog_2_top_right_top_inner_4_left clearfix">
	    <div class="blog_2_top_right_top_inner_4_left_inner clearfix">
		 <p><a href="#"><img src="{% static 'img/95.png' %}"></a></p>
		</div>
	   </div>
	   <div class="col-sm-6 blog_2_top_right_top_inner_4_right clearfix">
	    <div class="blog_2_top_right_top_inner_4_right_inner clearfix">
		 <p><a href="#">APTENT TACITI SOCIOSQU AD LITORA TORQUENT</a></p>
		</div>
	   </div>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

{% include 'footer.html' %}

</body>  
<script type="text/javascript">
	  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
	</script>
{% endblock %}     
</html>
