{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jewel-shop</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop.css' %}" rel="stylesheet">
	<link href="{% static 'css/contact.css' %}" rel="stylesheet">
	<link href="{% static 'css/header.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/detail.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop_detail.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Oswald' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Pacifico' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Fredericka+the+Great' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Merriweather' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Cormorant+Garamond' %}" rel="stylesheet">
	<<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    
	
     

  </head>
  
<body>
<section id="header" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="header_top clearfix">
    <div class="col-sm-3 header_top_left clearfix">
	 <div class="header_top_left_inner clearfix">
	  <p><a href="#">Call1800-222-9289</a></p>
	 </div>
	</div>
	<div class="col-sm-4 header_top_middle clearfix">
	 <div class="header_top_middle_inner clearfix">
	  <p><a href="#"><span class="trouble_1">INTEGER NEC ODIONEC</span>FLAT 30% OFF ON CONUBIA NOSTRA</a></p>
	 </div>
	</div>
	<div class="col-sm-5 header_top_right clearfix">
	 <div class="header_top_right_inner clearfix">
	  <ul>
	   <li><a href="#"><img src="{% static 'img/1.png' %}"></a><span class="trouble_2">|</span></li>
	   <li><a href="#">Log in</a><span class="trouble_2">|</span></li>
	   <li><a href="#">Sign up</a><span class="trouble_2">|</span></li>
	   <li class="dropdown">
					  <a class="tag_menu" href="blog.html" data-toggle="dropdown" role="button" aria-expanded="false">Wishlist(0)<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a class="tag_menu_down" href="#">No products in the cart</a></li>
					  </ul>
                    <span class="trouble_2">|</span></li>
	   <li class="dropdown">
					  <a class="tag_menu" href="blog.html" data-toggle="dropdown" role="button" aria-expanded="false">Try@Home(0)<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a class="tag_menu_down" href="#">No products in the cart</a></li>
					  </ul>
                    </li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header_2"  class="cd-secondary-nav">
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="{% static 'img/2.png' %}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
				 <ul class="nav navbar-nav">
				 
                    <li>
                        <a class="tag_menu" href="index.html">HOME</a>
                    </li>
                    
                    <li>
                        <a class="tag_menu" href="blog.html">BLOG</a>
                    </li>
					
					<li>
                        <a class="tag_menu active_tab" href="detail.html">DETAIL</a>
                    </li>
					
					<li>
                        <a class="tag_menu" href="shop.html">SHOP</a>
                    </li>
					<li>
                        <a class="tag_menu" href="shop_detail.html">SHOP-DETAIL</a>
                    </li>
					
					<li>
                        <a class="tag_menu" href="about.html">ABOUT</a>
                    </li>
					
					<li>
                        <a class="tag_menu" href="contact.html">CONTACT</a>
                    </li>
					
					<li class="dropdown">
					  <a class="tag_menu" href="blog.html" data-toggle="dropdown" role="button" aria-expanded="false">MORE<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_1" role="menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="blog.html">Blogpost</a></li>
						<li><a href="detail.html">Detail</a></li>
						<li><a href="shop.html">Grade</a></li>
					  </ul>
                    </li>
				 </ul>
				 <ul class="nav navbar-right">
				  <li><a class="tab_3" href="#"><i class="fa fa-search"></i></a></li>
				  <li><a class="tab_3" href="#"><i class="fa fa-bell"></i></a></li>
				  <li><a class="tab_3" href="#"><i class="fa fa-shopping-cart"></i></a></li>
				 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="blog_2" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="blog_2_top clearfix">
    <div class="col-sm-12 blog_2_top_left clearfix">
	 <div class="blog_2_top_left_top clearfix">
     <div class="blog_2_top_left_inner clearfix">
	  <p><a href="#"><img src="{% static 'img/86.png' %}" width="100%"></a></p>
	 </div>
	 <div class="detail_top clearfix">
	  <h4><span class="dating_1">19 JUL </span>FUSCE NEC TELLUS SED AUGUE SEMPER PORTA</h4>
	  <h5>Posted at 15:16h in <a href="#">LITORATORQUENT,</a>  <a href="#">Dignissim Lacinia,</a> <a href="#"> In Duissagittis Eget,</a>  <a href="#">Conubia</a>	by	 <a href="#">ipsum</a>  <a href="#">4 Comments</a>  <a href="#">14 Likes Share</a></h5>
	  <p>Integer nec odionec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio torquent per conubia nostra, per inceptos C..</p>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet!”</p>
	  <p>“Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero.  <a href="#">– Integer odionec odio praesent.</a></p>
	  <p>Consectetur adipiscing elit. Integer nec odionec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.</p>
	  <h6>(Visited 854 times, 31 visits today)</h6>
	  <div class="contact_home_right_inner clearfix"> <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul></div>
		<h2>2 COMMENTS</h2>
	 </div>
	 <div class="detail_top_middle clearfix">
	  <div class="col-sm-1 detail_top_middle_left clearfix">
	   <div class="detail_top_middle_left_inner clearfix">
	    <p><i class="fa fa-user"></i></p>
	   </div>
	  </div>
	  <div class="col-sm-11 detail_top_middle_right clearfix">
	   <div class="detail_top_middle_right_inner clearfix">
	    <h4>MAURIS MASSA MORE</h4>
		<p>Posted at 09:18h, 22 November <a href="#">REPLY</a></p>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero dignissim lacinia… consectetur adipiscing elit. Integer Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum….
ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odionec odio. Praesent libero. 
Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos C. Curabitursodales ligula in libero. Sed dignissim lacinia nunc.Sed dignissim lacinia nunc. 😍😍
Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per…
Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora 👍👍👍👍</p>
	   </div>
	  </div>
	 </div>
	 <div class="detail_top_bottom clearfix">
	  <h4>POST A COMMENT</h4>
	  <div class="details_comments clearfix">
	    <div class="col-sm-4">
		 <div class="details_comments_left clearfix">
		  <input class="form-control form-control_detail" id="name" name="name" placeholder="Your full name" type="text">
		 </div>
		</div>
		<div class="col-sm-4">
		 <div class="details_comments_left clearfix">
		  <input class="form-control form-control_detail" id="name" name="name" placeholder="Email-address" type="text">
		 </div>
		</div>
		<div class="col-sm-4">
		 <div class="details_comments_left clearfix">
		  <input class="form-control form-control_detail" id="name" name="name" placeholder="Website" type="text">
		 </div>
		</div>
		</div>
		<div class="details_comments_2 clearfix">
		 <textarea class="form-control form-detail_2" id="message" name="message" placeholder="Comment" rows="5"></textarea>
		 <p><a href="#">Submit comment</a></p>
		</div>
	 </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="center_3" class="clearfix">
 <div class="container">
  <div class="row">
  <div class="center_3_top clearfix">
   <div class="col-sm-6 center_3_top_left clearfix">
    <div class="center_3_top_left_inner">
	 <p>Nulla Quis Ipsum<a href="#">FUSCE NEC</a></p>
	</div>
   </div>
   <div class="col-sm-6 center_3_top_right clearfix">
    <div class="center_3_top_right_top clearfix">
	 <div class="col-sm-5 center_3_top_right_top_left clearfix">
	  <div class="center_3_top_right_top_left_inner clearfix">
	   <p><a href="#">Nulla quis at nibh elementum</a></p>
	  </div>
	 </div>
	 <div class="col-sm-7 center_3_top_right_top_right clearfix">
	  <div class="center_3_top_right_top_right_inner clearfix">
	   <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control form-control_top" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-default subject">Submit</button>
        </form>
	  </div>
	 </div>
	</div>
   </div>
  </div>
  </div>
 </div>
</section>

<section id="footer" class="clearfix">
 <div class="container">
  <div class="row">
  <div class="footer_top clearfix">
   <div class="col-sm-3 footer_top_left clearfix">
    <div class="footer_top_left_inner">
     <h5>LITORA TORQUENT</h5>
	 <p><a href="#">Nec</a></p>
	 <p><a href="#">Porta</a></p>
	 <p><a href="#">Arcu</a></p>
	 <p><a href="#">Eget & Libero</a></p>
	 <p><a href="#">Odio Fusce</a></p>
	 <p><a href="#">Vestibulum</a></p>
	 <p><a href="#">Curabitursodales</a></p>
	</div>
   </div>
   <div class="col-sm-3 footer_top_left clearfix">
    <div class="footer_top_left_inner">
     <h5>ADIPISCING ELIT</h5>
	 <h4>Integer nec odionec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.</h4>
	</div>
   </div>
   <div class="col-sm-3 footer_right clearfix">
	 <div class="footer_right_main clearfix">
	  <h5>SED DIGNISSIM</h5>
	  <div class="col-sm-1 footer_right_main_left clearfix">
	   <div class="footer_right_main_left_inner">
	    <p><i class="fa fa-globe"></i></p>
	   </div>
	  </div>
	  <div class="col-sm-11 footer_right_main_left clearfix">
	   <div class="footer_right_main_right_inner clearfix">
	    <p><span class="orange_1">100% ORIGINAL</span> guarantee <br>for all products at info.com</p>
	   </div>
	  </div>
	 </div>
	 <div class="footer_right_main clearfix">
	  <div class="col-sm-1 footer_right_main_left clearfix">
	   <div class="footer_right_main_left_inner">
	    <p><i class="fa fa-deafness"></i></p>
	   </div>
	  </div>
	  <div class="col-sm-11 footer_right_main_left clearfix">
	   <div class="footer_right_main_right_inner clearfix">
	    <p><span class="orange_1">Return within 30days </span><br>of receiving your order</p>
	   </div>
	  </div>
	 </div>
	 <div class="footer_right_main clearfix">
	  <div class="col-sm-1 footer_right_main_left clearfix">
	   <div class="footer_right_main_left_inner">
	    <p><i class="fa fa-truck"></i></p>
	   </div>
	  </div>
	  <div class="col-sm-11 footer_right_main_left clearfix">
	   <div class="footer_right_main_right_inner clearfix">
	    <p><span class="orange_1">Get free delivery for</span><br>every order above Rs. 1049</p>
	   </div>
	  </div>
	 </div>
	</div>
   <div class="col-sm-3 footer_corner clearfix">
    <div class="footer_corner_inner clearfix">
	 <h5>CONTACT US</h5>
	 <p><a href="#">1800-222-9899(Toll Free)</a></p>
	 <p><a href="#">info@gmail.com</a></p>
	</div>
	<div class="footer_corner_inner clearfix">
	 <h5>WORKING HOURS</h5>
	 <p><a href="#">9 A.M to 1 A.M IST (Mon - Sun)</a></p>
	</div>
   </div>
  </div>
  <div class="footer_middle clearfix">
   <ul>
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
	<li><a href="#"><i class="fa fa fa-twitter"></i></a></li>
	<li><a href="#"><i class="fa fa-google-plus-official"></i></a></li>
	<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
	<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
   </ul>
  </div>
  </div>
 </div>
</section>

<section id="footer_last" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="footer_last_top clearfix">
    <div class="footer_4 clearfix">
	 <div class="col-sm-6 footer_4_left clearfix">
	  <div class="footer_4_left_inner clearfix">
	   <p>Fusce nec tellus augue, <a href="#">Contact Us</a></p>
	  </div>
	 </div>
	 <div class="col-sm-6 footer_4_right clearfix">
	  <div class="footer_4_right_inner">
	   <p class="website">© 2013 Your Website Name. All rights reserved | Design by<a href="http://www.templateonweb.com"> TemplateOnWeb</a></p>
	  </div>
	 </div>
   </div>
   </div>
  </div>
 </div>
</section>

</body>
<script type="text/javascript">
$(document).ready(function(){

/*****Fixed Menu******/
var secondaryNav = $('.cd-secondary-nav'),
   secondaryNavTopPosition = secondaryNav.offset().top;
	$(window).on('scroll', function(){
		if($(window).scrollTop() > secondaryNavTopPosition ) {
			secondaryNav.addClass('is-fixed');	
		} else {
			secondaryNav.removeClass('is-fixed');
		}
	});	
	
});
</script>  
<script type="text/javascript">
	  jQuery(document).ready(function($) {
 
        $('#myCarousel').carousel({
                interval: 5000
        });
 
        $('#carousel-text').html($('#slide-content-0').html());
 
        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click( function(){
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.length -1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
        });
 
 
        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
	</script>     
</html>
