{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jewel-shop</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop.css' %}" rel="stylesheet">
	<link href="{% static 'css/contact.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/detail.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop_detail.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<style type="text/css">
	span {
            color: lightpink;
        }

	</style>



</head>

<body>
	<section id="header" class="clearfix" style="background-color: black;">
		<div class="container">
			<div class="row">
				<div class="header_top clearfix">
					<div class="col-sm-3 header_top_left clearfix">
						<div class="header_top_left_inner clearfix" >
							<p><a href="#" style="font-size: 15px;">Call 1800-222-9289</a></p>
						</div>
					</div>
					<div class="col-sm-4 header_top_middle clearfix">
						<div class="header_top_middle_inner clearfix">
							<p><a href="#" style="font-size: 15px;"><span class="trouble_1"></span>FLAT 10% OFF ON MARRIAGE</a></p>
						</div>
					</div>
					<div class="col-sm-5 header_top_right clearfix">
						<div class="header_top_right_inner clearfix" style="margin-left: -30px;">
							<ul>
								<li style="margin-right: 150px;"><a href="#" style="margin-left: 30px;"><img src="{% static 'img/1.png' %}"></a><span class="trouble_2">|</span>
								</li>
								{% if request.session.fname %}
								<li style="margin-left: -120px;">
									<a class="tag_menu" href="{% url 'mycart' %}"
										aria-expanded="false" style="font-size: 15px"><span class="glyphicon glyphicon-shopping-cart"></span> Cart 
										{% if request.session.total_cart  == 0 %}
										{% else %}
										({{request.session.total_cart}})
										{% endif %}
									</a>
									<ul class="dropdown-menu drop_1" role="menu">
										<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px" href="#">Empty</a></li>
									</ul>
									<span class="trouble_2">|</span>
								</li>

								<li>
									<a class="tag_menu" href="{% url 'mywishlist' %}"
										aria-expanded="false" style="font-size: 15px"><span class="glyphicon glyphicon-heart"></span> Wishlist 
										{% if request.session.total_wishlist == 0 %}
										{% else %}
										({{request.session.total_wishlist}})
										{% endif %}
									</a>
									<span class="trouble_2">|</span>
								</li>

								<li class="dropdown" style="margin-left: -0px;">
									<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
										aria-expanded="false" style="font-size: 15px;"><img src="{{request.session.user_image}}" height="20px" width="20px"> {{request.session.fname}} <span class="caret"></span></a>
									<ul class="dropdown-menu drop_1" role="menu">
										<!-- <li><a class="tag_menu_down" href="#">No products in the cart</a></li> -->
										<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px"
											href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>		
										<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px"
												href="{% url 'change_password' %}"><span class="glyphicon glyphicon-edit"></span> Change
												Password</a></li>
									
												<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px;"
														href="{% url 'logout' %}"><span
															class="glyphicon glyphicon-log-out"></span> Logout</a></li>
												

									</ul>
								</li>
								{% else %}
								<li><a href="{% url 'login' %}">Log in</a><span class="trouble_2">|</span></li>
								<li><a href="{% url 'signup' %}">Sign up</a><span class="trouble_2">|</span></li>
								{% endif %}
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header_2" class="cd-secondary-nav">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="{% static 'img/2.png' %}"
							style="width: 150px; height: 75px;"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav">

						<li>
							<a class="tag_menu active_tab" href="{% url 'index' %}">HOME</a>
						</li>

						<li>
                        	<a class="tag_menu" href="{% url 'blog' %}">BLOG</a>
                    	</li>

						<li>
                        <a class="tag_menu" href="{% url 'about' %}">ABOUT</a>
                    </li>
					
					<li>
                        <a class="tag_menu" href="{% url 'contact' %}">CONTACT</a>
                    </li>

					<li class="dropdown">
						<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
							aria-expanded="false">GOLD JEWELRY<span class="caret"></span></a>
						<ul class="dropdown-menu drop_1" role="menu">
							<li><a href="{% url 'user_view_gold_jew' gj='rings' %}">Rings</a></li>
							<li><a href="{% url 'user_view_gold_jew' gj='necklace' %}">Necklace</a></li>
							<li><a href="{% url 'user_view_gold_jew' gj='earrings' %}">Earings</a></li>
							<li><a href="{% url 'user_view_gold_jew' gj='pendants' %}">Pendants</a></li>
							<li><a href="{% url 'user_view_gold_jew' gj='bangles' %}">Bangles</a></li>
							<li><a href="{% url 'user_view_gold_jew' gj='bracelet' %}">Bracelet</a></li>
							<li><a href="{% url 'user_view_gold_jew' gj='chains' %}">Chains</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
							aria-expanded="false">DIAMOND JEWELRY<span class="caret"></span></a>
						<ul class="dropdown-menu drop_1" role="menu">
							<li><a href="{% url 'user_view_diamond_jew' dj='rings' %}">Rings</a></li>
							<li><a href="{% url 'user_view_diamond_jew' dj='necklace' %}">Necklace</a></li>
							<li><a href="{% url 'user_view_diamond_jew' dj='earrings' %}">Earings</a></li>
							<li><a href="{% url 'user_view_diamond_jew' dj='pendants' %}">Pendants</a></li>
							<li><a href="{% url 'user_view_diamond_jew' dj='bangles' %}">Bangles</a></li>
							<li><a href="{% url 'user_view_diamond_jew' dj='bracelet' %}">Bracelet</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
							aria-expanded="false">PLATINUM JEWELRY<span class="caret"></span></a>
						<ul class="dropdown-menu drop_1" role="menu">
							<li><a href="{% url 'user_view_platinum_jew' pj='rings' %}">Rings</a></li>
							<li><a href="{% url 'user_view_platinum_jew' pj='necklace' %}">Necklace</a></li>
							<li><a href="{% url 'user_view_platinum_jew' pj='earrings' %}">Earings</a></li>
							<li><a href="{% url 'user_view_platinum_jew' pj='pendants' %}">Pendants</a></li>
							<li><a href="{% url 'user_view_platinum_jew' pj='bracelet' %}">Bracelet</a></li>
							<li><a href="{% url 'user_view_platinum_jew' pj='chains' %}">Chains</a></li>
						</ul>
					</li>

				</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>
</body>
</html>
{% block content %}
{% endblock %}