{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jewel-shop</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'css/about.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop.css' %}" rel="stylesheet">
	<link href="{% static 'css/contact.css' %}" rel="stylesheet">
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/detail.css' %}" rel="stylesheet">
	<link href="{% static 'css/shop_detail.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	
	<style type="text/css">
        span {
            color: lightpink;
        }

    </style>
	
</head>

<body>

	<section id="header" class="clearfix" style="background-color: black;">
		<div class="container">
			<div class="row">
				<div class="header_top clearfix">
					<div class="col-sm-3 header_top_left clearfix">
						<div class="header_top_left_inner clearfix" >
							<p><a href="#" style="font-size: 15px;">Call 1800-222-9289</a></p>
						</div>
					</div>
					<div class="col-sm-4 header_top_middle clearfix">
						<div class="header_top_middle_inner clearfix">
							<p><a href="#" style="font-size: 15px;"><span class="trouble_1"></span>FLAT 10% OFF ON MARRIAGE</a></p>
						</div>
					</div>
					<div class="col-sm-5 header_top_right clearfix">
						<div class="header_top_right_inner clearfix">
							<ul>
								<li><a href="#"><img src="{% static 'img/1.png' %}"></a><span class="trouble_2">|</span>
								</li>

								<li class="dropdown" style="margin-left: 15px;">
									<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
										aria-expanded="false" style="font-size: 15px;"><img src="{{user.user_image.url}}" height="20px" width="20px"> {{request.session.fname}} <span class="caret"></span></a>
									<ul class="dropdown-menu drop_1" role="menu">
										<!-- <li><a class="tag_menu_down" href="#">No products in the cart</a></li> -->
										<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px"
											href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>		
										<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px"
												href="{% url 'change_password' %}"><span class="glyphicon glyphicon-edit"></span> Change
												Password</a></li>
												{% if request.session.fname %}
												<li><a class="tag_menu_down" style="color: white; background-color: black; font-size: 15px;"
														href="{% url 'logout' %}"><span
															class="glyphicon glyphicon-log-out"></span> Logout</a></li>
												{% else %}
												{% endif %}

									</ul>
								</li>


							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header_2" class="cd-secondary-nav">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="{% static 'img/2.png' %}"
							style="width: 150px; height: 75px;"></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav">

						<li>
							<a class="tag_menu active_tab" href="{% url 'seller_index' %}">HOME</a>
						</li>


						<!-- <li>
                        	<a class="tag_menu" href="{% url 'blog' %}">BLOG</a>
                    	</li> -->

						<!-- <li>
                        <a class="tag_menu" href="about.html">ABOUT</a>
                    </li> -->
					
					<!-- <li>
                        <a class="tag_menu" href="{% url 'contact' %}">CONTACT</a>
                    </li> -->

					<li class="dropdown">
						<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
							aria-expanded="false">ADD JEWELRY<span class="caret"></span></a>
						<ul class="dropdown-menu drop_1" role="menu">
							<li><a href="{% url 'add_gold_jewelry' %}">GOLD JEWELRY</a></li>
							<li><a href="{% url 'add_diamond_jewelry' %}">DIAMOND JEWELRY</a></li>
							<li><a href="{% url 'add_platinum_jewelry' %}">PLATINUM JEWELRY</a></li>
						</ul>
					</li>
                        
                        <li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">VIEW GOLD JEWELRY<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="{% url 'view_gold_rings' %}">Rings</a></li>
								<li><a href="{% url 'view_gold_necklace' %}">Necklace</a></li>
								<li><a href="{% url 'view_gold_earrings' %}">Earings</a></li>
								<li><a href="{% url 'view_gold_pendants' %}">Pendants</a></li>
								<li><a href="{% url 'view_gold_bangles' %}">Bangles</a></li>
								<li><a href="{% url 'view_gold_bracelet' %}">Bracelet</a></li>
								<li><a href="{% url 'view_gold_chains' %}">Chains</a></li>
							</ul>
                        </li>
                        
                        <li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">VIEW DIAMOND JEWELRY<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="{% url 'view_diamond_rings' %}">Rings</a></li>
								<li><a href="{% url 'view_diamond_necklace' %}">Necklace</a></li>
								<li><a href="{% url 'view_diamond_earrings' %}">Earings</a></li>
								<li><a href="{% url 'view_diamond_pendants' %}">Pendants</a></li>
								<li><a href="{% url 'view_diamond_bangles' %}">Bangles</a></li>
								<li><a href="{% url 'view_diamond_bracelet' %}">Bracelet</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a class="tag_menu" href="#" data-toggle="dropdown" role="button"
								aria-expanded="false">VIEW PLATINUM JEWELRY<span class="caret"></span></a>
							<ul class="dropdown-menu drop_1" role="menu">
								<li><a href="{% url 'view_platinum_rings' %}">Rings</a></li>
								<li><a href="{% url 'view_platinum_necklace' %}">Necklace</a></li>
								<li><a href="{% url 'view_platinum_earrings' %}">Earings</a></li>
								<li><a href="{% url 'view_platinum_pendants' %}">Pendants</a></li>
								<li><a href="{% url 'view_platinum_bracelet' %}">Bracelet</a></li>
								<li><a href="{% url 'view_platinum_chains' %}">Chains</a></li>
							</ul>
						</li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</section>

	<section id="center_1" class="clearfix">
		<div class="center_1_head clearfix">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" style="background-color: black;">
					<div class="item">
						<img src="{% static 'img/114.jpg' %}" alt="First slide">
						<!-- Static Header -->
						<div class="header-text">
							<div class="col-sm-12 center_1_head_left clearfix">
								<div class="col-sm-6 center_1_head_left_inner clearfix"></div>
								<div class="col-sm-6 center_1_head_right_inner clearfix">
									<div class="center_1_head_right_inner_1 clearfix">
										<h4 style="color: lightpink;">Your search for the perfect gifts ends here</h4><br>
							   			<p style="color: lightpink;">Introducing a large variety of products online</p>
									</div>
								</div>

							</div>
						</div><!-- /header-text -->
					</div>
					<div class="item">
						<img src="{% static 'img/113.jpg' %}" style="width: 1400px; height: 500px;" alt="Second slide">
						<!-- Static Header -->
						<div class="header-text">
							<div class="col-sm-12 center_1_head_left clearfix">
								<div class="col-sm-6 center_1_head_left_inner clearfix"></div>
								<div class="col-sm-6 center_1_head_right_inner clearfix">
									<div class="center_1_head_right_inner_1 clearfix">
										<h4 style="color: lightpink; margin-top: -50px;">Jewelry is like Ice Cream</h4>
										<h2 style="color: lightpink;">ALWAYS ROOM FOR MORE</h2>
									</div>
								</div>

							</div>
						</div><!-- /header-text -->
					</div>
					<div class="item active">
						<img src="{% static 'img/117.jpg' %}" style="width: 1400px; height: 500px;" alt="Third slide">
						<!-- Static Header -->
						<div class="header-text">
							<div class="col-sm-12 center_1_head_left clearfix">
								<div class="col-sm-6 center_1_head_left_inner clearfix"></div>
								<div class="col-sm-6 center_1_head_right_inner clearfix">
									<div class="center_1_head_right_inner_1 clearfix">
										<h4 style="color: lightpink;">I have enough Jewelry</h4>
										<h2 style="color: lightpink;">SAID NO ONE EVER</h2>
									</div>
								</div>

							</div>
						</div><!-- /header-text -->
					</div>

				</div>
				<!-- Controls -->
				<a class="left carousel-control"
					href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7B4x#carousel-example-generic"
					data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control"
					href="http://bootsnipp-env.elasticbeanstalk.com/iframe/7B4x#carousel-example-generic"
					data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
  </section>		

	
  {% block content %}
  {% endblock %}
  </body>
  </html>
